* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: auto;
  font-size: 14px;
  font-family: NunitoSansRegular, sans-serif;
}

.nh-footer {
  font-size: 14px;
  padding: 100px 0 24px;
  background: #333;
  color: #c4c4c4;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  color: #c4c4c4;
}

.top {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.2;

}

.footer-contact {
  line-height: 2.02em;
  font-size: 14px;
  font-weight: 400;
}

.footer-address {
  line-height: 2.02em;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.footer-list li:not(:last-child) {
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.center-wrap {
  margin-top: 50px;
}

.bottom-wrap {
  margin-top: 50px;

}

.bottom-left {
  flex: 0 0 58%;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  margin: 0;
}

.bottom-left p {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

.bottom-right {
  flex: 0 0 42%;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

.privacy-policy {
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  font-size: 11px;
}

.privacy-policy a {
  text-decoration: none;
  color: #c4c4c4;
}


.footer-newsletter {
  display: block;
  margin-top: 0em;
  font-size: 14px;
  color: #c4c4c4;
}

.newsletter-input {
  display: block;
  width: 100%;
  padding: 16px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: 0 0;
  color: #fff;
  font-size: 14px;
}

.newsletter-btn {
  text-align: right;
  margin-top: 25px;
  display: block;
}

.news-btn {
  display: inline-block;
  font-size: 12px;
  padding: 10px 22px;
  border-radius: 4px;
  background-color: #fb8c00;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.news-btn:hover {
  color: #fff;
  background: #ff6634;
  transition: all 1s;
}

.social-media {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media li:not(:last-child) {
  margin-right: 26px;
}

.icon-fb {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background: #3b5998;
  border-radius: 50%;
  transition: .6s ease;
}

.icon-fb:hover {
  color: #3b5998;
  background: #fff;
}

.icon-ig {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background: #ee4957;
  border-radius: 50%;
  transition: .6s ease;
}

.icon-ig:hover {
  color: #ee4957;
  background: #fff;
}

.icon-li {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background: #007ab9;
  border-radius: 50%;
  transition: .6s ease;
}

.icon-li:hover {
  color: #007ab9;
  background: #fff;
}

.icon-twitter {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 30px;
  color: #fff;
  background: #55acee;
  border-radius: 50%;
  transition: .6s ease;
}

.icon-twitter:hover {
  color: #55acee;
  background: #fff;
}

.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}