.hero {
  padding-top: 100px;
  padding-bottom: 30px;
  background-image: linear-gradient(45deg,
      #00349b,
      rgba(0, 92, 255, 0.9219),
      #007aff);
}

.container-hero {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
}

.hero-left {
  width: 40%;
  height: 100%;
  padding-top: 109px;
}

.hero-left h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 24px;
  color: whitesmoke;
}

.hero-left h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 34px;
  color: whitesmoke;
}

.hero-left p {
  font-size: 13px;
  font-weight: normal;
  color: whitesmoke;
  margin-bottom: 43px;
}

.hero-btn {
  background-color: #fb8c00;
  border: none;
  color: whitesmoke;
  padding: 12px 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

.hero-btn:hover {
  color: #fff;
  background: #ff6634;
  transition: all 1s;
}

.hero-right {
  width: 60%;
  height: 100%;
  margin-top: 40px;
}

.img-rmd {
  width: 100%;
  height: 590px;
  background-image: url(../images/hero-home-ramadhan.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}