.new-page {
  padding: 200px 0 100px;
  background-image: linear-gradient(45deg,
      #00349b,
      rgba(0, 92, 255, 0.9219),
      #007aff);
}

.container-new {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  text-align: center;
}

.container-new h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 24px;
  color: whitesmoke;
}