.nh-garansi {
  padding: 100px 0;
  background: #f6fbff;
}

.container {
  color: #3a4166;
}

.garansi-contents {
  display: flex;
  flex-wrap: wrap;
}

.garansi-logo {
  flex-basis: 50%;
  height: auto;
  padding: 0 15px;
}

.garansi-logo img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.garansi-text {
  flex-basis: 50%;
  padding-right: 15px;
  text-align: left;
}

.garansi-heading {
  font-size: 33px;
  font-weight: 600;
  line-height: 1.2;
}

.garansi-description {
  font-size: 18px;
  opacity: 0.7;
  line-height: 2em;
  margin: 30px 0 40px;
}