.nh-sukses {
  padding: 75px 0;
  background-image: linear-gradient(45deg,
      #00349b,
      rgba(0, 92, 255, 0.9219),
      #007aff);
}

.sukses-contents {
  display: flex;
  flex-wrap: wrap;
}

.sukses-text {
  flex-basis: 58%;
  padding: 0 15px;
}

.sukses-text h3 {
  text-align: left;
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  max-width: 524px;
  margin-left: auto;
  line-height: 1.2;
}

.sukses-btn {
  flex-basis: 42%;
  padding: 0 15px;
  margin: auto 0;
  text-align: center;
  display: block;
}

.hero-btn {
  background-color: #fb8c00;
  border: none;
  color: whitesmoke;
  padding: 12px 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}