.nh-faq {
  padding: 100px 0;
}

.faq-heading {
  font-size: 33px;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
}

.faq-question {
  max-width: 770px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.question-wrapper {
  position: relative;
  padding: 30px;
  text-align: left;
  border-bottom: 1px solid rgba(17, 26, 104, 0.15);
}

.question {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #3a4166;
}

.question-wrapper:before {
  position: absolute;
  content: url(../images/icon-ellipse.svg);
  top: 30px;
  left: 0;
}

.question-wrapper:after {
  position: absolute;
  content: url(../images/icon-plus.svg);
  top: 30px;
  right: 0;
}