.nh-saving {
  width: 100%;
  padding: 60px 0 80px;
  background-color: #f6fbff;
}

.saving-heading {
  text-align: center;
  margin-bottom: 90px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.wrap-images-saving {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  padding: 20px 66px 50px 50px;
  flex-basis: 50%;
  /*background-color: black;*/
}

.images-saving-img1 {
  width: 100%;
  height: auto;
}

.images-saving-img2 {
  position: absolute;
  z-index: 2;
  bottom: 4px;
  left: 22%;
  width: 26%;
  height: auto;
}

.images-saving-img3 {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: -48px;
  width: 24%;
  height: auto;
}

.images-saving-img4 {
  position: absolute;
  z-index: 2;
  top: 29%;
  left: 448px;
  width: 21%;
  height: auto;
}

.images-saving-img5 {
  position: absolute;
  z-index: 2;
  top: -13px;
  left: 14%;
  width: 23%;
  height: auto;
}

.images-saving-img6 {
  position: absolute;
  z-index: 2;
  bottom: -16px;
  right: 46px;
  width: 22%;
  height: auto;
}