.nh-priority {
  width: 100%;
  padding: 100px 0;
}

.priority-heading {
  text-align: center;
  margin-bottom: 90px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.wrap-contents {
  display: flex;
  flex-wrap: wrap;
}

.wrap-feature {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 110px;
  flex-basis: 50%;
}

.feature-item {
  position: relative;
  margin-bottom: 40px;
}

.feature-item h4 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.feature-item p {
  font-size: 15px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 1.5;
}

.feature-item-img {
  position: absolute;
  top: -10px;
  left: -94px;
}

.wrap-images {
  position: relative;
  width: 100%;
  padding: 0 65px 150px 72px;
  flex-basis: 50%;
  /*background-color: black;*/
}

.images-img1 {
  width: 100%;
  height: auto;
}

.images-img2 {
  position: absolute;
  z-index: 2;
  top: 41%;
  left: 7px;
  width: 76%;
  height: auto;
}

.images-img3 {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-109%);
  left: 5px;
  width: 23%;
  height: auto;
}

.images-img4 {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-109%);
  left: 443px;
  width: 23%;
  height: auto;
}