.nh-package {
  padding: 100px 0;
  background: #f6fbff;
}

.container-package {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
  color: #3a4166;
}

.package-heading {
  font-size: 33px;
  margin-bottom: 140px;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
}

.package-wrap {
  display: flex;
  flex-wrap: wrap;
}

.package-card-wrap {
  flex-basis: 25%;
  position: relative;
}

.package-card {
  position: relative;
  display: inline-block;
  width: 270px;
  min-height: 700px;
  border-radius: 8px;
  padding: 88px 13px 35px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.15);
  text-align: center;
}

.package-label {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.green-label {
  background: #00bfa5;
}

.yellow-label {
  background: #fb8c00;
}

.package-title {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.package-price {
  position: relative;
  font-size: 18px;
  opacity: 0.7;
}

.package-price::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 1px;
  background: #3a4166;
}

.price-hidden {
  visibility: hidden;
}

.package-discount {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  color: #007aff;
  margin-bottom: 37px;
  padding-right: 24px;
  position: relative;
}

.package-discount::after {
  font-size: 14px;
  content: "/bln";
  color: #3a4166;
  opacity: 0.7;
  position: absolute;
  right: -4px;
  bottom: 5px;
}

.package-space {
  height: 1px;
  width: 100%;
  background: #e5e5e5;
  margin-bottom: 40px;
}

.package-description {
  opacity: 0.7;
  padding: 0 10px;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.package-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0;
  padding: 0 0 0 30px;
  list-style: none;
}

.package-feature li {
  position: relative;
  padding: 7px 0;
}

.package-icon {
  position: absolute;
  left: -25px;
  top: 6px;
  cursor: pointer;
}

.package-feature-text {
  line-height: 1.2;
}

.package-card a {
  display: inline-block;
  font-size: 16px;
  color: #007aff;
  margin-top: 30px;
  text-decoration: none;
}