.nh-services {
  width: 100%;
  padding: 70px 0 65px;
  background: #f6fbff;
}

.heading-services {
  text-align: center;
  margin-bottom: 55px;
  font-size: 32px;
  font-weight: 600;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.services-card {
  display: inline-block;
  max-width: 260px;
  height: 394px;
  padding: 55px 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  text-align: center;
  transition: all .4s;
}

.services-card:hover {
  cursor: pointer;
  transform: scaleY(1.025);
  box-shadow: 0 6px 30px rgba(17, 26, 104, .4);
  transition: all .4s;
}

.services-card img {
  margin-bottom: 30px;
}

.services-card h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.services-description {
  font-size: 13px;
  color: rgba(58, 65, 102, 0.7);
  margin-bottom: 24px;
  line-height: 1.5;
  font-weight: 400;
}

.services-start {
  font-size: 13px;
  font-weight: 700;
  opacity: 0.7;
  line-height: 1.5;
}

.services-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.services-extra {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-extra-list {
  padding: 0 15px;
  flex-basis: 50%;
}

.extra-card {
  background: #fff;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  border-radius: 8px;
  display: flex;
  padding: 24px;
  transition: all .4s;
}

.extra-card:hover {
  cursor: pointer;
  transform: scaleY(1.025);
  box-shadow: 0 6px 30px rgba(17, 26, 104, .4);
  transition: all .4s;
}

.extra-card img {
  width: 25%;
  padding-right: 15px;
}

.extra-description {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.extra-description h3 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 16px;
}

.extra-description p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #757a94;
}