.nh-testimoni {
  width: 100%;
  padding: 65px 0;
}

.testimoni-heading {
  text-align: left;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.testimoni-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.testimoni-list li {
  max-width: 360px;
  height: auto;
  display: inline-block;
}

.testimoni-image-wrap {
  position: relative;
}

.testimoni-img {
  max-width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.play-btn {
  position: absolute;
  content: url(../images/icon-play.svg);
  justify-content: center;
  width: 74px;
  height: 74px;
  padding: 18px 7px 18px 11px;
  background: #007aff;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimoni-description {
  font-size: 14px;
  opacity: 0.7;
  text-align: left;
  margin-top: 30px;
  line-height: 1.5;
}

.testimoni-name {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.testimoni-name span {
  opacity: 0.7;
}