* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: auto;
  font-size: 14px;
  font-family: NunitoSansRegular, sans-serif;
  color: #3a4166;
}

.container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
  color: #3a4166;
}